<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="abrirMenu()"> 
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>WhatsApp 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-list>
    <app-item-chat
      *ngFor="let chat of chats"
      [username]="chat.username"
      [message]="chat.message"
      [date]="chat.date"
      [avatarUrl]="chat.avatarUrl"
    ></app-item-chat>
  </ion-list>
</ion-content>

<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
      <ion-buttons slot="right">
        <ion-button (click)="cerrarMenu()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="doSomething()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
        Nuevo grupo
      </ion-item>
      <ion-item button (click)="doSomething()">
        <ion-icon slot="start" name="star"></ion-icon>
        Mensajes destacados
      </ion-item>
      <ion-item button (click)="doSomething()">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
        Marcar todos como leídos
      </ion-item>
      <ion-item button (click)="abrirAjustes()">
        <ion-icon slot="start" name="settings"></ion-icon>
        Ajustes
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-menu>
